@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?xgkav');
  src: url('fonts/icomoon.eot?xgkav#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?xgkav') format('truetype'), url('fonts/icomoon.woff?xgkav') format('woff'), url('fonts/icomoon.svg?xgkav#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e900";
}
.icon-cancle:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-preview:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
h4,
dd {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.viewport {
  width: 20rem;
  margin: 0 auto;
}
body {
  background-color: #f7f4f1;
}
.items {
  padding: 0 0.75rem;
}
.items .title {
  display: flex;
  justify-content: space-between;
  margin: 0.875rem 0 0.9375rem;
  color: #888;
  font-size: 0.875rem;
}
.items .title h4 {
  font-size: 0.875rem;
  font-weight: 500;
}
.items .item {
  margin-bottom: 0.9375rem;
}
.items .item:not(.add) {
  border-radius: 0.5rem;
  overflow: hidden;
}
.items .item .body {
  height: 7.28125rem;
}
.items .item .extra {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
}
.items .item .extra a {
  flex: 1;
  text-align: center;
  line-height: 1.5rem;
  border-right: 1px solid #e8e2d9;
  font-size: 0.8125rem;
  color: #888;
}
.items .item .extra a:last-child {
  border-right: none;
}
.items .all .body {
  background-color: #55bc75;
}
.items .all .extra span[class^="icon-"] {
  color: #55bc75;
}
.items .coupon .body {
  background-color: #a974bc;
}
.items .coupon .extra span[class^="icon-"] {
  color: #a974bc;
}
.items .add {
  height: 7rem;
  border: 0.09375rem dashed #dedede;
  background-color: #FFF;
  box-sizing: border-box;
}
.items .add a {
  display: block;
  text-align: center;
  padding-top: 1.125rem;
  font-size: 3.25rem;
  color: #aeaeae;
}
.items .add span {
  display: block;
  margin-top: 0.4375rem;
  font-size: 0.8125rem;
}
.tips {
  line-height: 2;
  padding: 0 0.75rem;
  margin-top: 3.6875rem;
  font-size: 0.75rem;
  color: #999;
}
